.profile {
  height: 200px;
  width: 200px;
}

.intro {
  background-color: #346c73;
}
.fakeimg {
  height: 200px;
  background: #aaa;
}

.second-page {
  height: 100%;
  background: #89b2b879;
  margin-top: 0px;
}

body {
  background-color: #346c73;
}
