.profile {
  height: 250px;
  width: 250px;
}

.intro {
  background-color: #346c73;
}
.fakeimg {
  height: 200px;
  width: 450px;
  background: #aaa;
}

.second-page {
  height: 100%;
  background: #89b2b879;
  margin-top: 0px;
}

body {
  background-color: #346c73;
}

h5 {
  margin-top: 25px;
}
#bottom-footer {
  color: white;
  margin-top: 2rem;
  padding-top: 0.3rem;
}
li {
  display: inline-block;
  vertical-align: text-bottom;
}
.footerlink {
  color: white;
  font-weight: 400;
  margin-left: 1rem;
  list-style-type: square;
}

.footer {
  height: 45px;
}
